<div class="container mt-5 p-5 bg-dark text-light rounded shadow-lg">
  <h1 class="fw-bold text-warning text-center">Welcome to Our Home Page</h1>
  
  <p class="fs-5 text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia temporibus
    recusandae ab, quaerat maxime magnam itaque sequi expedita cum quos sit
    provident similique amet ipsa. Placeat totam iusto qui eum!
  </p>

  <p class="fs-5 text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia temporibus
    recusandae ab, quaerat maxime magnam itaque sequi expedita cum quos sit
    provident similique amet ipsa. Placeat totam iusto qui eum!
  </p>

  <div class="text-center mt-4">
    <button class="btn btn-warning fw-bold px-4 py-2 shadow">Show More</button>
  </div>
</div>
